<router-outlet></router-outlet>

<!-- <div *ngIf="!isSignedIn">
    <h2>signup</h2>
    <input type="text" #emailSignup>
    <input type="text" #passwordSignup>
    <button (click)="onSignup(emailSignup.value,passwordSignup.value)">sign up</button>
</div>
<div  *ngIf="!isSignedIn">
    <h2>signin</h2>
    <input type="text" #email>
    <input type="text" #password>
    <button (click)="onSignin(email.value,password.value)">sign in</button>
</div> -->
<!-- <app-dashboard *ngIf="isSignedIn" (isLogout)="handleLogout()"></app-dashboard> -->